@import "tailwindcss";

html,body{
    scroll-behavior: smooth;
    scrollbar-width: none;
    background-color: rgb(21, 21, 21);
    color: white;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.marquee-track {
  display: inline-flex;
  white-space: nowrap;
  animation: marquee linear infinite;
  will-change: transform;
}